.button {
  display: block;
  width:100%;
  height: auto;
  text-align: center;
  background: #242424;

  border-bottom: 4px solid #000;
  margin:0px 0px 10px -10px;
  color: #fff;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  cursor: pointer;
  box-shadow: none;
}

button {
  box-sizing:border-box;
  padding: 0px;
  font-size: 12px;
  border:0 none;

}
