@font-face {
  font-family: Roboto;
  src: url(res/font/Roboto-Regular.ttf);
}
* {
  margin: 0;
  padding: 0;
  font-family: Roboto;
}
body {
  box-shadow: 0 0 200px #000 inset;
  overflow: hidden;
  background: #c60000;
}
html, body {
  width: 100%;
  height: 100%;
}

/*
    HEXAGONS
*/

.hex, .preview {
  width: 100px;
  height: 58px;
  position: absolute;
  opacity: .7;
  cursor: pointer;
}
.hex-in1 {
  width: 100px;
  height: 58px;
  transform: rotate(60deg);
  background: inherit;
  display: inherit;
  background: inherit;
}
.hex-in2 {
  width: 100px;
  height: 58px;
  transform: rotate(60deg);
  background: inherit;
  display: inherit;
  background: inherit;
  overflow:hidden;
}
.hex:hover, .preview:hover {
  opacity: 1;
}
.preview {
  opacity: .2;
  background-color: #fff;
}
[id='0;0'] {
  background: #000;
}
[id='0;0'] .hex-in1 .hex-in2 {
  background: url('res/img/params.png') #000;
  background-size: 50px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

#grid {
  position: relative;
  z-index: 1;
}

/*
    PARAMS WINDOWS
*/

#paramsWindow, #paramsWindowHexa {
  width: 205px;
  padding: 10px;
  background: #fff;
  float: right;
  position: fixed;
  z-index: 1;
  box-shadow: 0px 0px 30px -10px #000;
}
#paramsWindow {
  display: none;
  z-index: 3;
}
#paramsWindowHexa {
  width: 245px;
  z-index: 4;
}
.titre {
  font-size: 20px;
  margin-bottom: 10px;
}
#dragIcon {
  float: right;
  margin-top: -10px;
  margin-right: -10px;
}
li {
  list-style-type: none;
  margin-bottom: 10px;
}
.flag {
  margin-right: 10px;
  margin-top: 3px;
  cursor: pointer;
}
.button {
  float: right;
  /*background: #00A1FF;*/
  background: #000;
  color: #fff;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  cursor: pointer;
}
.unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;
}
input {
  width: 100%;
  padding: 0;
  border: 0;
  margin: 0;
  cursor: pointer;
  border-color: #000;
}
#importButton {
  margin-bottom: 5px;
}
#newKey {
  margin-left: 5px;
}
#deleteButton {
  float: left;
}
[type="text"] {
  border: 1px solid #ccc;
  cursor: text;
}
[type="checkbox"] {
  width: 0;
}
#keyInfos {
  font-size: 10px;
}
#searchBar {
  position: absolute;
  width: 50%;
  margin-left: 25%;
  left: -25px;
  top: 10%;
  height: 40px;
  border: none;
  border-radius: 3px;
  padding: 5px;
  padding-left: 50px;
  margin-right: 25px;
  color: #000000;
  font-size: 18px;
  background: url('res/img/google.png') 12px center no-repeat #ffffff;
  background-size: 30px 30px;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, .5);
  z-index:2;
}
#searchBar::selection {
  background: transparent;
  color: #666666;
}
#searchBar::-moz-selection {
  background: transparent;
  color: #666666;
}
