<!DOCTYPE HTML>
<html>
  <head>
    <meta charset="utf-8"/>
    <link rel="icon" type="image/png" href="/img/favicon.png">
    <title>Hexom</title>
    <link rel="stylesheet" href="/sass/main.css"/>
  </head>

  <body style="background:#000;text-align:center;color:#fff;">
    <div class="container" style="position:absolute;top:50%;left:50%;transform: translate(-50%,-50%);">
      <h2 style="margin:0;font-family:RobotoCondensed;color:#cc0000;">404</h2>
      <a href="/"><img src="/img/doh.png"/></a>
    </div>
    <a target="_blank" href="https://github.com/leobourgue/hexom" id="github_link">
      <div id="github_button"></div>
    </a>
  </body>
</html>
