<!DOCTYPE HTML>
<html>
  <head>
    <meta charset="utf-8"/>
    <link rel="icon" type="image/png" href="/img/favicon.png">
    <link rel="stylesheet" href="/js/jquery-ui/jquery-ui.min.css"/>
    <link rel="stylesheet" href="/sass/main.css"/>
    <link rel="stylesheet" href="/sass/buttons.css"/>
    <link rel="stylesheet" href="/sass/hexa.css"/>
    <link rel="stylesheet" href="/sass/paramsMenu.css"/>
    <link rel="stylesheet" href="/sass/paramsWindows.css"/>
    <link rel="stylesheet" href="/sass/searchBar.css"/>
    <link rel="stylesheet" href="/sass/window.css"/>

    <script src="/js/jquery.min.js"></script>
    <script src="/js/jquery-ui/jquery-ui.min.js"></script>
    <script src="/js/jscolor.min.js"></script>

    <title>Hexom</title>
  </head>

  <body class="unselectable">
    <div id="user_info" class="unselectable">
      <label id="hello" style="font-weight:normal;cursor:text;" class="unselectable"></label>
      <%- username %></div>

    <input id="searchBar" type="text" autofocus/>

    <a target="_blank" href="https://github.com/leobourgue/hexom" id="github_link">
      <div id="github_button"></div>
    </a>

    <div id="grid">
      <div id="previewContainer"></div>
    </div>

    <a href="/logout" class="button" id="logout_button"></a>

    <script src="/js/Language.js"></script>
    <script src="/js/Tools.js"></script>
    <script src="/js/ParamsWindow.js"></script>
    <script src="/js/ParamsWindowHexa.js"></script>
    <script src="/js/Hexagon.js"></script>
    <script src="/js/PreviewHexa.js"></script>
    <script src="/js/Grid.js"></script>
    <script src="/js/Search.js"></script>
    <script src="/js/ParamsMenu.js"></script>
    <script src="/js/main.js"></script>

    <script>
      dataFromDB.infos = <%- infos %>;
      init("<%- username %>", dataFromDB.infos);
    </script>
  </body>
</html>
